### Binary Executables
AL_VERSION=1.2.2

#--------------------------------------------------------------------
# Settings
#--------------------------------------------------------------------

# enables use of concatenated genome method. set =0 to use the separate genome method
AL_USE_CONCATENATED_GENOME=1

# enables using BWA for alignment
AL_USE_BWA=1

# enables using Bowtie1 for alignment
AL_USE_BOWTIE1=0

# enables using Bowtie2 for alignment
AL_USE_BOWTIE2=0

# enables debug mode: will print all the executed commands, and won't remove temporary files
AL_DEBUG=0

#--------------------------------------------------------------------
# path to external tools
#--------------------------------------------------------------------

AL_BIN_JAVA=java
AL_BIN_PYTHON=python
AL_BIN_ALEA="$AL_BIN_JAVA -Xms4G -Xmx8G -jar $AL_DIR_TOOLS/alea.jar"
AL_BIN_SAMTOOLS="$AL_DIR_TOOLS/samtools"

AL_BIN_BWA="$AL_DIR_TOOLS/bwa"
AL_BIN_BWA_INDEX="$AL_BIN_BWA index"

AL_BIN_BOWTIE1="$AL_DIR_TOOLS/bowtie"
AL_BIN_BOWTIE1_ALIGN="$AL_DIR_TOOLS/bowtie-align"
AL_BIN_BOWTIE1_INDEX="$AL_DIR_TOOLS/bowtie-build"

AL_BIN_BOWTIE2="$AL_DIR_TOOLS/bowtie2"
AL_BIN_BOWTIE2_ALIGN="$AL_DIR_TOOLS/bowtie2-align"
AL_BIN_BOWTIE2_INDEX="$AL_DIR_TOOLS/bowtie2-build"

AL_BIN_TABIX="$AL_DIR_TOOLS/tabix"
AL_BIN_BGZIP="$AL_DIR_TOOLS/bgzip"
AL_BIN_BAM2WIG="$AL_BIN_JAVA -Xms4G -Xmx8G -jar $AL_DIR_TOOLS/BAM2WIG.jar"
AL_BIN_PHASEVCF="$AL_BIN_PYTHON $AL_DIR_TOOLS/phaseVCF.py"
AL_BIN_FASTQ_DUMP="$AL_DIR_TOOLS/fastq-dump"
AL_BIN_BEDGRAPH_TO_BW="$AL_DIR_TOOLS/bedGraphToBigWig"
AL_BIN_WIG_TO_BW="$AL_DIR_TOOLS/wigToBigWig"

#--------------------------------------------------------------------
# parameters passed to external tools
#--------------------------------------------------------------------

AL_BWA_ALN_PARAMS="-k 0 -n 0 -t 1"
AL_BOWTIE1_ALN_PARAMS="-v 0 --sam --threads 1"
AL_BOWTIE2_ALN_PARAMS="-N 0 --threads 1"
#AL_TOPHAT1_ALN_PARAMS="--read-mismatches 0 --read-gap-length 0 --read-edit-dist 0 --no-sort-bam --no-convert-bam --max-multihits 1 --bowtie1"
#AL_TOPHAT2_ALN_PARAMS="--read-mismatches 0 --read-gap-length 0 --read-edit-dist 0 --no-sort-bam --no-convert-bam --max-multihits 1"
AL_BAM2WIG_PARAM_MIN_QUALITY=1
AL_BAM2WIG_PARAM_SE_EXTENSION=300
AL_BAM2WIG_PARAM_FILTERING_FLAG=1540

VAR_REFERENCE_STRAIN="C57BL6J"


if [ $AL_DEBUG = 1 ]; then
    # turn on the debug mode: prints all commands
    set -x
fi

# utility function

function printProgress {
    echo [ALEA] $1 at [`date`]
}

function aleaCheckDirExists {
    if [ ! -d "$1" ]; then
        echo "Error: Directory $1 does not exist"
        exit 1
    fi
}

function aleaCheckFileExists {
    if [ ! -f "$1" ]; then
        echo "Error: File $1 does not exist"
        exit 1
    fi
}

function aleaCreateDir {
    if [ ! -d "$1" ]; then
        mkdir -p "$1"
    fi
    if [ ! -d "$1" ]; then
        echo "Error: Unable to create Directory $1"
        exit 1
    fi
}
