### Binary Executables

# MANUAL INSTALLATION
#source $MEA_DIR_TOOLS/mea.config
# DOCKER INSTALLATION
#if [ -f "/mea-data/mea.config" ];
#then
#  source /mea-data/mea.config
#else
#  source $MEA_DIR_TOOLS/mea.config
#fi

if [ -f "/mea-data/mea.setting" ];
then
  source /mea-data/mea.setting
else
  source $MEA_DIR_TOOLS/mea.setting
fi

MEA_VERSION=1.0

#--------------------------------------------------------------------
# Settings
#--------------------------------------------------------------------

# enables use of concatenated genome method. set =0 to use the separate genome method
MEA_USE_CONCATENATED_GENOME=1

# enables using BWA for alignment
MEA_USE_BWA=0

# enables using Bowtie1 for alignment
MEA_USE_BOWTIE1=0

# enables using Bowtie2 for alignment
MEA_USE_BOWTIE2=0

# enables using Bismark for alignment
MEA_USE_BISMARK=0

# enables using STAR for alignment
MEA_USE_STAR=1

#enables using Tophat2 for alignment
MEA_USE_TOPHAT2=0

# enables debug mode: will print all the executed commands, and won't remove temporary files
MEA_DEBUG=0

#--------------------------------------------------------------------
# path to external tools
#--------------------------------------------------------------------

MEA_BIN_JAVA=java
# default Virtual Machine Javascript heap sizes
JAVA_XMS=${JAVA_XMS:=4G}
JAVA_XMX=${JAVA_XMX:=54G}

# edit these to change heap sizes (credit/thanks to Michael Kotliar)
export JAVA_XMS="4G"
export JAVA_XMX="54G"
MEA_BIN_MEA="$MEA_BIN_JAVA -Xms$JAVA_XMS -Xmx$JAVA_XMX -jar $MEA_DIR_TOOLS/alea.jar"
#MEA_BIN_MEA="$MEA_BIN_JAVA -Xms4G -Xmx54G -jar $MEA_DIR_TOOLS/alea.jar"

MEA_BIN_PYTHON=python
MEA_BIN_SAMTOOLS="$MEA_DIR_TOOLS/samtools"

MEA_BIN_BWA="$MEA_DIR_TOOLS/bwa"
MEA_BIN_BWA_INDEX="$MEA_BIN_BWA index"

MEA_BIN_BOWTIE1="$MEA_DIR_TOOLS/bowtie"
MEA_BIN_BOWTIE1_ALIGN="$MEA_DIR_TOOLS/bowtie-align"
MEA_BIN_BOWTIE1_INDEX="$MEA_DIR_TOOLS/bowtie-build"

MEA_BIN_BOWTIE2="$MEA_DIR_TOOLS/bowtie2"
MEA_BIN_BOWTIE2_ALIGN="$MEA_DIR_TOOLS/bowtie2-align"
MEA_BIN_BOWTIE2_INDEX="$MEA_DIR_TOOLS/bowtie2-build"

MEA_BIN_BISMARK="$MEA_DIR_TOOLS/bismark"
MEA_BIN_BISMARK_INDEX="$MEA_DIR_TOOLS/bismark_genome_preparation"
MEA_BIN_BISMARK_EXTRACT="$MEA_DIR_TOOLS/bismark_methylation_extractor"

MEA_BIN_STAR="$MEA_DIR_TOOLS/STAR"
MEA_BIN_TOPHAT2="$MEA_DIR_TOOLS/tophat2"

MEA_BIN_TABIX="$MEA_DIR_TOOLS/tabix"
MEA_BIN_BGZIP="$MEA_DIR_TOOLS/bgzip"
MEA_BIN_BAM2WIG="$MEA_BIN_JAVA -Xms4G -Xmx54G -jar $MEA_DIR_TOOLS/BAM2WIG.jar"
MEA_BIN_PHASEVCF="$MEA_BIN_PYTHON $MEA_DIR_TOOLS/phaseVCF.py"
MEA_BIN_FASTQ_DUMP="$MEA_DIR_TOOLS/fastq-dump"
MEA_BIN_BEDGRAPH_TO_BW="$MEA_DIR_TOOLS/bedGraphToBigWig"
MEA_BIN_WIG_TO_BW="$MEA_DIR_TOOLS/wigToBigWig"
MEA_BIN_BEDTOOLS="$MEA_DIR_TOOLS/bedtools"
MEA_BIN_BEDTOOLS22="$MEA_DIR_TOOLS/bedtools22"
MEA_BIN_HUBCHECK="$MEA_DIR_TOOLS/hubCheck"

#--------------------------------------------------------------------
# parameters passed to external tools
#--------------------------------------------------------------------
# Total CPUs on machine
global_cpus_tmp=$(grep -c ^processor /proc/cpuinfo)
# 95% of all CPUs
global_cpus=$(echo "scale=0;$global_cpus_tmp-($global_cpus_tmp/20)" | bc)
# 95% of all RAM on machine
global_mem=$[950 * $(awk '/^MemTotal:/{print $2}' /proc/meminfo)]

MEA_THREADS=$global_cpus
MEA_THREAD_MEM=$global_mem


MEA_BWA_ALN_PARAMS="-k 0 -n 0 -t $MEA_THREADS"
MEA_BWA_ALN_TOTAL_PARAMS="-t $MEA_THREADS"
MEA_BOWTIE1_ALN_PARAMS="-v 0 --sam --threads $MEA_THREADS"
MEA_BOWTIE1_ALN_TOTAL_PARAMS="-v 0 --sam --threads $MEA_THREADS"
MEA_BOWTIE2_ALN_PARAMS="-k 2 --score-min L,0,-0.0 --threads $MEA_THREADS"
MEA_BOWTIE2_ALN_TOTAL_PARAMS="-k 2 --threads $MEA_THREADS"
#MEA_TOPHAT1_ALN_PARAMS="--read-mismatches 0 --read-gap-length 0 --read-edit-dist 0 --no-sort-bam --no-convert-bam --max-multihits 1 --bowtie1"
#MEA_TOPHAT2_ALN_PARAMS="--read-mismatches 0 --read-gap-length 0 --read-edit-dist 0 --no-sort-bam --no-convert-bam --max-multihits 1"
MEA_BISMARK_ALN_PARAMS="--bowtie2 --path_to_bowtie $MEA_DIR_TOOLS --samtools_path $MEA_DIR_TOOLS --sam -p $MEA_THREADS"
MEA_BISMARK_ALN_TOTAL_PARAMS="--bowtie2 --path_to_bowtie $MEA_DIR_TOOLS --samtools_path $MEA_DIR_TOOLS --sam -p $MEA_THREADS"
MEA_STAR_ALN_PARAMS="--runThreadN "$MEA_THREADS" --limitBAMsortRAM "$MEA_THREAD_MEM" --outSAMtype SAM"
MEA_STAR_ALN_TOTAL_PARAMS="--runThreadN "$MEA_THREADS" --limitBAMsortRAM "$MEA_THREAD_MEM" --outSAMtype SAM"
MEA_TOPHAT2_ALN_PARAMS="--read-mismatches 0 --read-gap-length 0 --read-edit-dist 0 --no-sort-bam --no-convert-bam --num-threads $MEA_THREADS"
MEA_TOPHAT2_ALN_TOTAL_PARAMS="--no-sort-bam --no-convert-bam --num-threads $MEA_THREADS"

MEA_BAM2WIG_PARAM_MIN_QUALITY=1
MEA_BAM2WIG_PARAM_SE_EXTENSION=300
MEA_BAM2WIG_PARAM_FILTERING_FLAG=1540
MEA_METH2WIG_PARAM_MIN_DEPTH=1

MEA_DIR_REFERENCES="/mea-data/reference_genomes"
MEA_REFERENCE_GENOME=undefined
MEA_REFERENCE_CHROM_SIZES=undefined
MEA_BUILD=undefined



VAR_REFERENCE_STRAIN="C57BL6J"


if [ $MEA_DEBUG = 1 ]; then
    # turn on the debug mode: prints all commands
    set -x
fi

# utility function

function printProgress {
    echo [mea] $1 at [`date`]
}

function meaCheckDirExists {
    if [ ! -d "$1" ]; then
        echo "Error: Directory $1 does not exist"
        exit 1
    fi
}

function meaCheckFileExists {
    if [ ! -f "$1" ]; then
        echo "Error: File $1 does not exist"
        exit 1
    fi
}

function meaCreateDir {
    if [ ! -d "$1" ]; then
        mkdir -p "$1"
    fi
    if [ ! -d "$1" ]; then
        echo "Error: Unable to create Directory $1"
        exit 1
    fi
}
